<div class="row block" ng-repeat="product in products">
	<div class="col-md-4">
		<a href="{{product.id}}">
			<img class="img-responsive img-thumbnail" src="/pictures/{{product.picture}}">
		</a>
	</div>
	<div class="col-md-8">
		<h4>
			<a ui-sref="singleProduct({productId:product.id})">{{product.title}}</a>
			<small>{{ product.expiry_date}}</small>
		</h4>
		
		<div>
			<div class="pull-left">
				<p>পণ্যের ধরন : <a ui-sref="singleCategory({categorySlug:product.category.slug})">{{product.category.title}}</a></p>
				<p>{{product.pricing_type}} {{product.price}} টাকা</p>
				<p>মোট {{product.quantity}} {{product.unit}} আছে</p>
			</div>
			<div class="pull-right">

					<uib-rating ng-model="product.rating = calc(product.ratings)" max="5" 
					readonly="true"></uib-rating>
				

				<p>বিক্রেতা : {{product.user.name}}</p>
				<p>মোবাইল নাম্বার : {{product.user.phone_no}}</p>
				<p>{{product.user.thana}}, {{product.user.district}}</p>
			</div>
		</div>
	</div>
</div>