
	
	<div class="row">
		
		<div class="col-md-6 col-md-offset-3">
			
			<form>
			  <div class="form-group">
			    <label for="phone_no">মোবাইল নাম্বার</label>
			    <input type="string" class="form-control" id="phone_no" ng-model="auth.phone_no">
			  </div>
			  <div class="form-group">
			    <label for="password">পাসওয়ার্ড</label>
			    <input type="password" class="form-control" ng-model="auth.password" id="auth.password">
			  </div>
			  <button type="submit" class="btn btn-default" ng-click="auth.login()">লগ ইন</button>
			</form>

		</div>

	</div>

